---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
{%- if page.image -%}
  <center><img src="{{page.image}}" alt="" /></center>
{%- endif -%}
{%- if page.slideShow -%}
<br>
{% include slideShow.html images=page.slideShow %}
<br>
{%- endif -%}
<div class="post-content e-content" itemprop="articleBody">
{{ content }}
</div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>